<link rel="stylesheet" href="/css/home.css">
</link>
<section id="home-layout">
    <h1>Codial/Home</h1>
    <section id="feed-posts">
        <h1>Posts</h1>
        <% if (locals.user) {%>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content" col="30" rol="10" placeholder="Type here.."></textarea>
                <input type="submit" value="Post"></input>
            </form>
            <% } %>
                <% for(post of posts) {%>
                    <%- include('_post.ejs') %>
                        <% } %>
    </section>
    <section id="users-profile">
        <h2> Friends </h2>
        <div class="profile-list">
            <% for(profileUser of allUsers) { %>
                <div class="profile">
                    <a class="profile-link" href="/users/profile/<%= profileUser._id %>">
                        <%= profileUser.name %>
                    </a>
                </div>         
            <% } %>
        </div>
    </section>
</section>