<link rel="stylesheet" href="/css/signUp.css"/>
<h1>Sign Up</h1>
<form action="createUser" method="post">
    <input name="email" placeholder="email" type="email" required/>
    <input name="password" placeholder="password"  type="password" required/>
    <input name="name" placeholder="name" type="text" required/>
    <input type="submit" value="Add User"/>
</form>