footer{
    position: absolute;
    bottom: 0px;
    background-color: rgb(48, 111, 113);
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    color: beige;
    height: 30px;
}