footer {
  position: fixed;
  bottom: 0px;
  background-color: #306f71;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  color: beige;
  height: 30px;
  margin-top: 10px; }
