body {
  background-color: #bde0b6; }

#home-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px; }

#feed-posts {
  margin-bottom: 10px; }
  #feed-posts #new-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 160px; }
    #feed-posts #new-post-form textarea {
      width: 300px;
      height: 160px; }
  #feed-posts .post-content {
    border-top: 2px solid grey; }
  #feed-posts .post-content:last-of-type {
    padding-bottom: 50px; }
