body {
  background-color: #bde0b6; }

#feed-posts {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 10px; }
  #feed-posts #new-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 160px; }
    #feed-posts #new-post-form textarea {
      width: 300px;
      height: 160px; }
  #feed-posts .post-content {
    border-top: 2px solid grey; }
